<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:td="http://www.w3.org/1999/xhtml"
      layout:decorate="~{Layout.html}"><head>
</head>
<body>

<section layout:fragment="content" class="container">

    <h1 th:text="#{registerForm.title}">form</h1>
    <form th:action="@{/user/edit}" th:object="${user}" method="POST" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{version}"/>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="oldPassword" th:text="#{user.label.oldPassword}">firstName</label>
                <input type="text" th:field="*{oldPassword}" class="form-control" th:classappend="${#fields.hasErrors('oldPassword')} ? 'is-invalid' : ''" id="oldPassword" th:placeholder="#{user.label.oldPassword}">
                <div class="invalid-feedback"
                     th:each="error: ${#fields.errors('oldPassword')}"
                     th:text="${error}">
                    Please provide a valid firstName.
                </div>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="password" th:text="#{user.label.password}">password</label>
                <input type="text" th:field="*{password}" th:value="|''|" class="form-control" th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''" id="password" th:placeholder="#{user.label.password}">
                <div class="invalid-feedback"
                     th:each="error: ${#fields.errors('password')}"
                     th:text="${error}">
                    Please provide a valid password.
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="confirmPassword" th:text="#{user.label.confirmPassword}">password</label>
                <input type="text" th:field="*{confirmPassword}" class="form-control" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid' : ''" id="confirmPassword" th:placeholder="#{user.label.confirmPassword}">
                <div class="invalid-feedback"
                     th:each="error: ${#fields.errors('confirmPassword')}"
                     th:text="${error}">
                    Please provide a valid password.
                </div>
            </div>
        </div>

        <button type="submit" th:text="#{editForm.title}" class="btn btn-primary">Sign in</button>
    </form>

</section>

</body>
</html>