<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:td="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorate="~{Layout.html}">

<body>


<section layout:fragment="content" class="container">
<div th:replace="alerts.html :: userAlert" ></div>

    <table class="table">
        <caption>List of users</caption>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Zdjęcie</th>
            <th scope="col">Imię</th>
            <th scope="col">Nazwisko</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Akcje</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entity,iter : ${entities}" th:object="${entity}">
            <th scope="row" th:text="${iter.index + 1}">1</th>
            <td th:text="*{id}">rte43e6s5yrdtuyg</td>
            <td><img width="50px" height="50px" th:src="${@pathFileManager.getResourceFilePath(entity.userDetails)}" /></td>
            <td th:text="*{userDetails.firstName}">Jan</td>
            <td th:text="*{userDetails.lastName}">Kowalski</td>
            <td th:text="*{email}">kowalski@wp.pl</td>
            <td ><p th:each="role : *{roles}" th:text="|${#strings.toLowerCase(role.name)} ,|">ROLE_USER,ROLE_ADMIN</p></td>
            <td>
                <a th:href="@{/user/{id}(id=*{id})}" class="btn btn-outline-success btn-sm">Zobacz szczegóły</a>
                <a th:href="@{/user/{id}/edit(id=*{id})}"  th:if="${#arrays.length(@userService.getOneToEdit(entity)) > 0}" class="btn btn-outline-success btn-sm">Edytuj</a>
                <a th:href="@{/user/{id}/change_password(id=*{id})}" th:if="${@userService.canChangePassword(entity)}" class="btn btn-outline-success btn-sm">Zmień hasło</a>
                <a th:href="@{/user/{id}/delete(id=*{id})}" th:if="${@userService.canDelete(entity)}"  class="btn btn-outline-danger btn-sm">Usuń</a>

            </td>
        </tr>
        </tbody>
    </table>

</section>
<footer>
    <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
</footer>

</body>
</html>