<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{Layout.html}">

<body>

<section layout:fragment="content" class="container">
    <div class="alert alert-danger" role="alert">
        Strona nie została odnaleziona.
    </div>
</section>
<footer>
    <p layout:fragment="custom-footer">This is some footer content from content page 1</p>
</footer>

</body>
</html>